$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@font-face {
  font-family: Druk;
  src: url(assets/fonts/Druk_Cond_Super.ttf);
}

@font-face {
  font-family: HelveticaNeueCondensed;
  src: url(assets/fonts/Helvetica_Neue_Condensed_Black.ttf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(assets/fonts/Helvetica_Neue_Regular.ttf);
}

@font-face {
  font-family: HelveticaNeue;
  src: url(assets/fonts/Helvetica_Neue_Bold.ttf);
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.App {
  min-height: 100vh;
  font-family: HelveticaNeue;
  font-weight: 400;
  color: black;
}

header {
  position: relative;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(204, 204, 204, 1);

  .beer-emoji {
    font-size: 50px;
  }

  .close-btn {
    width: 22px;
  }
}

.content {
  padding: 0;
  display: flex;
  justify-content: center;
}

.beers-bg-container {
  position: sticky;
  top: 0;
  left: calc(50% - (682px / 2));
  height: 100vh;
  z-index: -1;

  .beers-bgs {
    position: absolute;
    top: 0;
    height: 100vh;
    overflow-y: hidden;
  }

  img {
    width: 682px;
  }
}

.content .beers {
  position: relative;
  padding: 60px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;

  @media (min-width: $md) {
    gap: 60px;
  }

  @media (min-width: $xl) {
    justify-content: space-evenly;
    flex-direction: row;
    gap: 0;
  }

  .beer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0;

    &.left {
      text-align: right;

      .beer-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    &.right {
      text-align: left;
    }

    @media (min-width: $xl) {
      // to have 2 columns
      flex: 0 0 50%;

      &.left {
        justify-content: end;
        text-align: right;
      }

      &.right {
        justify-content: start;
        text-align: left;
        margin-top: 160px;
      }
    }

    &.hide {
      display: none;
    }

    .beer-info {
      max-width: 300px;

      .beer-name {
        font-family: Druk;
        font-size: 80px;
        margin-bottom: 5px;
      }

      .beer-subtitle {
        font-size: 20px;
        line-height: 25px;
        margin: 0;
        margin-bottom: 15px;
      }

      button.see-more {
        font-weight: bold;
        background-color: rgba(255, 207, 0, 1);
        border-radius: 240px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 19px 20px;
        gap: 20px;
      }
    }

    .beer-img {
      width: 240px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.content .modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 60px;

  position: absolute;
  right: 0;
  z-index: 10;
  height: 100vh;

  .beer-display {
    display: flex;
    justify-content: center;
    flex: 0 0 70%;
    align-items: center;
    justify-items: center;

    .display-title {
      position: absolute;
      margin: 0;
      font-size: 200px;
      line-height: 77%;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255, 207, 0, 1);
      max-width: 70%;
    }

    .beer-img {
      z-index: 10;
      width: 212px;
      align-self: flex-start;
    }
  }

  .info {
    width: 30vw;
    color: black;
    z-index: 10;

    .beer-title {
      font-family: Druk;
      font-size: 80px;
      line-height: 85%;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .beer-subtitle {
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .specifications {
      margin-bottom: 30px;
    }

    .specifications-title, .ingredients-title {
      text-transform: uppercase;
      color: #CCCCCC;
      font-weight: 900;
      font-size: 20px;
      border-bottom: 1px solid #D8D8D8;
      margin: 0;
      padding-bottom: 20px;
    }

    .attr {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      border-bottom: 1px solid #D8D8D8;
      padding-top: 18px;
      padding-bottom: 18px;

      .attr-key {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 17px;
      }

      .attr-val {
        text-align: right;
      }
    }
  }
}

.content.modal-open {
  justify-content: space-between;
  margin-bottom: 60px;

  .beers-bg-container {
    display: none;
  }

  .beers {
    width: 60vw;
    height: 100vh;

    .beer {
      margin: 0;
    }
  }
}

footer {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(204, 204, 204, 1);
  background-color: white;
  position: relative;

  .cheers {
    font-weight: 900;
  }
}
