#root {
  .App {
    min-height: 100vh;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(204, 204, 204, 1);

  .beer-emoji {
    font-size: 50px;
  }
}

.content {
  padding: 0;
  display: flex;
  justify-content: center;
}

.beers-bg-container {
  position: sticky;
  top: 0;
  left: calc(50% - (682px / 2));
  height: 100vh;
  z-index: -1;

  .beers-bgs {
    position: absolute;
    top: 0;
    height: 100vh;
    overflow-y: hidden;
  }

  img {
    width: 682px;
  }
}

.content .beers {
  position: relative;
  padding: 60px;
  padding-bottom: 340px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .beer {
    display: flex;
    // to have 2 columns
    flex: 0 0 50%;
    align-items: center;
    text-transform: uppercase;

    &.even {
      text-align: right;
      justify-content: flex-end;
    }

    &.odd {
      text-align: left;
      margin-top: 160px;
    }

    .beer-info {
      .beer-name {
        font-size: 80px;
        margin-bottom: 5px;
      }

      .beer-subtitle {
        font-size: 20px;
        margin: 0;
        margin-bottom: 15px;
      }

      button.see-more {
        background-color: rgba(255, 207, 0, 1);
        border-radius: 240px;
        text-transform: uppercase;
      }
    }

    .beer-img {
      width: 240px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.content .modal {
  display: flex;
  flex-direction: row;

  .beer-display {
    display: flex;
    justify-content: center;
    flex: 0 0 70%;
    align-items: center;
    justify-items: center;

    .display-title {
      position: absolute;
      margin: 0;
      font-size: 200px;
      line-height: 77%;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255, 207, 0, 1);
      max-width: 70%;
    }

    .beer-img {
      z-index: 10;
      width: 212px;
      align-self: flex-start;
    }
  }

  .info {
    color: black;
    z-index: 10;

    .beer-title {
      font-size: 80px;
      line-height: 85%;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .beer-subtitle {
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .specifications {
      margin-bottom: 30px;
    }

    .specifications-title, .ingredients-title {
      text-transform: uppercase;
      color: #CCCCCC;
      font-weight: 900;
      font-size: 20px;
      border-bottom: 1px solid #D8D8D8;
      margin: 0;
      padding-bottom: 20px;
    }

    .attr {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      border-bottom: 1px solid #D8D8D8;
      padding-top: 18px;
      padding-bottom: 18px;

      .attr-key {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 17px;
      }

      .attr-val {
        text-align: right;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(204, 204, 204, 1);
  background-color: white;
  position: relative;
}
